body {

    background-color: white;
    margin: 0 auto;
    width: 80%;
    min-height: 45vw;
    line-height: 1.5;

}

.content {

    background-color: antiquewhite;

}

.content h1,h2,h3,p {

    padding-inline: 10px;

}

nav {

    background-color: aquamarine;
    padding: 1%;

}

nav a {
    width: 100px;
    margin-inline: 10px;
    margin-block: 10px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

nav a#here {
    background-color: red !important;
    color: white !important;
    padding: 2px;
}

.image {

    padding-block: 20px;
    margin-left: 0;

}

img {
    width: 50%;
    border: 5px solid red;
}

footer {

    display: flex;
    justify-content: space-between;
    background-color: royalblue;

}

footer p {

    padding-inline: 10px;
    color: white;
    margin-block: 10px;

}

@media screen and (max-width: 40rem){

    body {

        width: 90%;
        max-height: 20vw;

    }

    
    nav a {

        display: flex;

    }

    img {

        width: 100%;

    }

    .content h1,h2,h3,p {

        padding-inline: 10px;
    
    }

    footer {

        display: block;

    }

    footer p {

        text-align: center;
        margin-inline: 0;
        margin-block: 20px;

    }

}